{% extends 'base.html' %}

{% block main %}
  <form class="form-file" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

    <h2 class="form-file-heading">Please, select you file</h2>
    <div class="form-group{% if form.convert_file.errors %} has-error{% endif %}">
      <input type="file" id="input-convert_file" class="form-control" name="convert_file" placeholder="File" autofocus>
      <span class="help-block">The maximum size is 2MB.</span>
      {% for error in form.convert_file.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
    <h2 class="form-file-heading">or, insert an url</h2>
    <div class="form-group{% if form.convert_url.errors %} has-error{% endif %}">
      <input type="text" id="input-convert_url" class="form-control" name="convert_url" placeholder="Url">
      {% for error in form.convert_url.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group{% if form.type_to.errors %} has-error{% endif %}">
      <label for="input-type_to" class="control-label">Convert to</label>
      {{ form.type_to }}
      {% for error in form.type_to.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Convert</button>
  </form>
{% endblock %}
